.profile-pic {
  width: 100%;
  aspect-ratio: 1 / 1;   /* 정사각형 유지 */
  background: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
.profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;     /* 이미지가 영역 꽉 차도록 */
}
